.wrap {
  position: relative;
  padding: 15px 0 0;
  //margin-top: 10px;
  width: 200px;
  //border: 1px solid gray;
}

.outerWrap {
  display: flex;
  align-items: end;

  svg * & .formField:focus {
    fill: #19A1B7;
  }
}

.formField {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: 0;
  font-size: 16px;
  color: #374151;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.formField::placeholder {
  color: transparent;
}

.formField:placeholder-shown ~ .formLabel {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

.label,
.formField:focus ~ .formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #9b9b9b;
}

.formField:focus ~ .formLabel {
  color: #19A1B7;
}

.formField:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid #19A1B7;
}

.iconStart {
  margin-right: 10px;
}

.iconEnd{
  margin-left: 10px;
}

.iconFocus svg * {
  fill: #19A1B7;
}

