.wrap {
    background-color: #EFF8FA;

}

.header {
    /*border: 1px solid black;*/
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: space-between;
}