.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  height: calc(50% - 96px);
  margin-left: 36px;
}

.card {
  border: 1px dashed rebeccapurple;
  flex-grow: 1;
  margin: 0 36px 36px 0;
  min-width: 200px;
  background-color: #fff;
}

.header {
  display: flex;
  border: 1px dashed red;
  height: 60px;
  align-items: center;
  margin: 36px;

  display: flex;
}

.left{

}

.right{

}
