.wrap {
  background-color: #fff;
  width: 300px;
  border: 1px solid black;
  display: flex;
}

.title {
  color: #4B5563;
  font-family: Raleway-Medium;
}

.mark {
  display: flex;
}

.markWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.description {
  color: #4B5563;
  font-family: Raleway-Medium;
}

.counter {
  color: #19A1B7;
  font-size: 92px;
  font-family: Raleway-Light;
}