.wrap {
    height: 60px;
    border-bottom: 1px solid #DFF2F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 36px;
}

.info{
    display: flex;
    align-items: center;
    margin-right: 36px;
}

.userPic{
    margin-right: 32px;
}

.headerName {
    font-family: Raleway-Bold;
    margin-right: 12px;
    color: #4B5563;
}

.address {
    font-family: Raleway-Regular;
    margin-right: 37px;
    color: #4B5563;
}