@import "src/theme";

.wrap {
  //background-color: #fff;

  & input {
    border: none;
    border-bottom: 1px solid $light-gray;
    font-size: 14px;
    outline: none;
    width: 100%;
    color: #858D9C;
    font-family: Raleway-Regular, serif;
    line-height: 20px;
  }

  & .label {
    color: #374151;
    font-family: Raleway-Medium, serif;;
    display: block;
    margin-bottom: 7px;
    line-height: 20px;
    font-size: 14px;

    & span {
      color: #A81D42;
      margin-left: 4px;
    }
  }
}

.error {
  & input {
    border-bottom: 1px solid $red;

  }
}

.errorText {
  font-family: Raleway-Medium, serif;
  color: $red;
  font-size: 12px;
  line-height: 16px;
}