$primary-color: #19A1B7;
$Grey-800: #374151;
$light-gray: #858D9C;
$dark-green-text-color: #143542;
$red: #EA3D5C;
$light-cyan: #DFF2F5;

$Secondary: #19A1B7;
$Secondary-dark: #007287;
$Secondary-light: #60D2E9;

$Primary: #A81D42;
$Primary-dark: #73001C;
$Primary-light: #DF546D;

//Grey colors
$Grey-200: #F3F4F6;
$Grey-400: #999FAB;
$Grey-700: #4B5563;
