.patientsHeader {
  //border: 1px dashed orangered;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  line-height: 36px;
  font-size: 32px;
  color: #374151;
}

.patientWrap {
  //margin: 36px;
  //border: 1px solid rebeccapurple;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  //display: flex;
  //flex-direction: column;
  //min-height: 100%;
}

.title {
  font-family: Raleway-Bold, serif;
  font-size: 32px;
  line-height: 36px;
}

.tableWrap {
  flex-grow: 1;
  background-color: #fff;
  padding: 36px;
}

.refreshBtn {
  width: 42px;
  height: 42px;
  border: 1px solid #A81D42;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}

.searchBlock {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 36px;

}

.buttons {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.datePicker{
  //display: flex;
}

.body{

}