.wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.formWrap {
  flex-grow: 1;
  background-color: #fff;
  padding: 36px;

}

.patientInformation {
  //border: 1px dashed #858D9C;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 48px;


}

.fromLabel {
  font-family: Raleway-Regular;
  color: #4B5563;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 36px;
}

.breadCrumbs {
  margin-bottom: 16px;
  * {
    color: #374151;
    margin-right: 16px;
  }
  :last-child{
    color: #999FAB;
  }
}

.addPatient {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  line-height: 36px;
  font-size: 32px;
  color: #374151;
  font-family: Raleway-Bold;
}