.wrap {
    /*border: 1px solid black;*/
    position: absolute;
    transition: 0.4s;
    translate: 0;
    height: calc(100% - 64px);
}

.collapsed {
    left: 64px;
    width: calc(100% - 66px);
}

.unCollapsed {
    left: 288px;
    width: calc(100% - 290px);
}
