.wrap {
    border: 1px solid black;
    background-color: #fcf;
    width: 100%;
    /*transition: 0.4s;*/

    /*position: absolute;*/
    /*height: calc(100% - 64px);*/
}

.collapsed {

}

.unCollapsed {

}
