.wrap {
    /*border: 3px dashed black;*/
    background-color: #EFF8FA;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 36px;
    overflow: hidden;
    /*transition: 0.4s;*/

    /*position: absolute;*/
    /*height: calc(100% - 64px);*/
}

.collapsed {

}

.unCollapsed {

}
